<!DOCTYPE html>
<html>

<head>
    <% include ./head %>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="ui center aligned container">
        <h1 class="ui header">
            <span><i class="pointing right icon"></i>Make a note on cloud :-)</span>
        </h1>
    </div>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>