<!DOCTYPE html>
<html manifest="/static/manifest.appcache">

<head>
    <% include ./head %>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="ui center aligned container">
        <h1 class="ui header">
            <span><i class="pointing right icon"></i>Make a note on cloud :-)</span>
            <span><i class="spinner loading icon"></i>Please wait a moment :-)</span>
        </h1>
    </div>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/libs/semantic/semantic.min.js"></script>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script src="/static/js/md.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>