<!DOCTYPE html>
<html manifest="/static/manifest.appcache">

<head>
    <% include ./head %>
</head>

<body>
    <% include ./warn %>
    <% include ./main %>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="//dn-cdnjs-cn.qbox.me/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>
