<!DOCTYPE html>
<html manifest="/static/manifest.appcache">

<head>
    <% include ./head %>
</head>

<body>
    <% include ./warn %>
    <% include ./main %>
    <script src="//cdnjs.int64ago.org/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.int64ago.org/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="//cdnjs.int64ago.org/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
    <script src="//cdnjs.int64ago.org/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script src="//cdnjs.int64ago.org/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script src="/static/js/md.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
