<div class="ui modal">
    <div class="header">
        Warnning
    </div>
    <div class="content">
        Nobody(and you) can uncheck if it's checked!
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok button">OK</div>
    </div>
</div>