body {
    overflow: hidden;
}

.ui.container {
    margin-top: 50px;
}

.ui.container .header {
    color: rgba(34, 36, 38, .1);
    font-family: 'Architects Daughter', cursive;
}

.ui.container .field span {
	float: right;
	color: green;
	font-style: italic;
}